/**
 * The following styles get applied both on the front of the site
 * and in the editor.
 *
 */

.wp-block-triablocks-cta {

	.cta__columns {
		margin: 0 auto;
		padding: 1.25rem;

		.cta__column--main,
		.cta__column--side {
			display: flex;
			align-items: center;

			.cta__paragraph {
				font-size: 1.12rem;
				margin-block-start: 0;
				margin-bottom: 0;
			}

			.cta__button {
				font-family: Roboto, sans-serif;
				font-size: 1rem;
				border-radius: 0;
				margin-right: 0;
				right: 0;
			}
		}
	}
}
