/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-triablocks-services {
	margin: 20px 0;
	> .block-editor-inner-blocks {
		min-width: 840px !important;
		> .block-editor-block-list__layout {
			width: 100%;
			max-width: 1172px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 16px;
			margin-inline: auto;
		}
	}

	.block-editor-button-block-appender {
		position: relative;
		top: 50px;
		width: auto;
		color: #000;
		background-color: #fff !important;
		box-shadow: none;
		&:hover {
			background-color: #f3f3f3 !important;
		}
	}
}
